{% extends 'admin/index.html.twig' %}
{% block title %}{{ 'ad_menu_list'|trans }}{{parent()}}{% endblock %}
{% block contentheader %}
<section class="content-header">
  <h1>
    {{ 'ad_menu_list'|trans }}
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="{{path('adindex')}}"><i class="fa fa-dashboard"></i>{{ 'ad.index'|trans }}</a></li>
    <li class="active">{{ 'ad_menu_list'|trans }}</li>
  </ol>
</section>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <div class="col-sm-3">
        <h3 class="box-title">{{ 'ad_menu_list'|trans }}</h3>
        </div>
        <div class="col-sm-9 text-right">
          <a href="{{path('amenuadd')}}" class="btn btn-default">{{ 'ad_menu_add'|trans }}</a>
        </div>
      </div>
      <div class="box-body table-responsive no-padding">
      {% for fm in app.session.flashBag.get('error') %}
      <div class="callout callout-danger">
        {{fm|trans}}
      </div>
      {% endfor %}
      {% for fm in app.session.flashBag.get('success') %}
      <div class="callout callout-success">
        {{fm|trans}}
      </div>
      {% endfor %}
        <table class="table table-hover">
          <tr>
            <th>{{ 'id'|trans }}</th>
            <th>{{ 'menu.name'|trans }}</th>
            <th>{{ 'menu.url'|trans }}</th>
            <th>{{ 'menu.title'|trans }}</th>
            <th>{{ 'menu.kword'|trans }}</th>
            <th>{{ 'menu.sort'|trans }}</th>
            <th>{{ 'menu.state'|trans }}</th>
            <th>{{ 'edit'|trans }}</th>
          </tr>
          {% for m in menus %}
          <tr>
            <td>{{m.id}}</td>
            <td>{{m.name}}</td>
            <td>{{m.url}}</td>
            <td>{{m.title}}</td>
            <td>{{m.kword}}</td>
            <td>{{m.sort}}</td>
            <td>
            {% if m.state =='1' %}
              <span class="label label-success">{{ 'use'|trans }}</span>
            {% else %}
              <span class="label label-danger">{{ 'nouse'|trans }}</span>
            {% endif%}
            </td>
            <td>
              <a href="{{path('amenuedit',{id:m.id})}}" class="btn btn-sm btn-default"><i class="fa fa-edit"></i></a>
              <button data-toggle="modal" data-target="#delfo" data-whatever="{{path('amenudel',{id:m.id})}}" data-v="{{ 'del_true'|trans }}" data-c="modal modal-danger" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button>
            </td>
          </tr>
          {% else %}
          <tr><td colspan="8" class="text-center">{{ 'nodata'|trans }}</td></tr>
          {% endfor %}
        </table>
      </div>
      <div class="box-footer clearfix no-border">
        <div class="box-tools text-center">{{ pagerfanta(menus, 'twitter_bootstrap3', { routeName: 'auserlist',prev_message: '&laquo;',next_message: '&raquo;' }) }}</div>
      </div>
    </div>
  </div>
</div>
<div class="modal modal-danger" id="delfo">
  <div class="modal-dialog">
    <div class="modal-content">
    <form action="" name="form" method="post" accept-charset="utf-8">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ 'danger.text'|trans }}</h4>
      </div>
      <div class="modal-body">
        <p>{{ 'suser.delete.danger'|trans }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">{{ 'btn.cancel'|trans }}</button>
        <button type="submit" class="btn btn-outline" id="delurl" >{{ 'btn.confirm'|trans }}</button>
        <input type="hidden" name="_token" value="{{ csrf_token('ususer') }}">
      </div>
    </form>
    </div>
  </div>
</div>
{% endblock %}

{% block bjs %}
{{ parent() }}
<script type="text/javascript">
  $('#delfo').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);
    var recipient = button.data('whatever');
    var modal = $(this);
    modal.attr('class',button.data('c'));
    modal.find('.modal-body').html(button.data('v'));
    modal.find('form').attr('action',recipient);
  })
</script>
{% endblock %}