<div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
        <li class="messages-menu">
            <a href="{{path('index')}}" target="_brack"><i class="fa fa-home"></i>
            </a>
        </li>
        <li class="dropdown messages-menu" style="display: none;">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-envelope-o"></i>
                <span class="label label-success">4</span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <ul class="menu">
                        <li>
                            <a href="#">
                                <div class="pull-left">
                                    <img src="{{ asset('img/user2-160x160.jpg') }}" class="img-circle" alt="User Image"/>
                                </div>
                                <h4>
                                    Support Team
                                    <small> <i class="fa fa-clock-o"></i>
                                        5 mins
                                    </small>
                                </h4>
                                <p>Why not buy a new awesome theme?</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="pull-left">
                                    <img src="{{ asset('img/user3-128x128.jpg') }}" class="img-circle" alt="User Image"/>
                                </div>
                                <h4>
                                    AdminLTE Design Team
                                    <small>
                                        <i class="fa fa-clock-o"></i>
                                        2 hours
                                    </small>
                                </h4>
                                <p>Why not buy a new awesome theme?</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="pull-left">
                                    <img src="{{ asset('img/user4-128x128.jpg')}}" class="img-circle" alt="User Image"/>
                                </div>
                                <h4>
                                    Developers
                                    <small>
                                        <i class="fa fa-clock-o"></i>
                                        Today
                                    </small>
                                </h4>
                                <p>Why not buy a new awesome theme?</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="pull-left">
                                    <img src="{{ asset('img/user3-128x128.jpg')}}" class="img-circle" alt="User Image"/>
                                </div>
                                <h4>
                                    Sales Department
                                    <small>
                                        <i class="fa fa-clock-o"></i>
                                        Yesterday
                                    </small>
                                </h4>
                                <p>Why not buy a new awesome theme?</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="pull-left">
                                    <img src="{{ asset('img/user4-128x128.jpg')}}" class="img-circle" alt="User Image"/>
                                </div>
                                <h4>
                                    Reviewers
                                    <small>
                                        <i class="fa fa-clock-o"></i>
                                        2 days
                                    </small>
                                </h4>
                                <p>Why not buy a new awesome theme?</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="footer">
                    <a href="">显示所有信息</a>
                </li>
            </ul>
        </li>
        <li class="dropdown notifications-menu" style="display: none;">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-bell-o"></i>
                <span class="label label-warning">10</span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <ul class="menu">
                        <li>
                            <a href="#">
                                <i class="fa fa-users text-aqua"></i>
                                5 new members joined today
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-warning text-yellow"></i>
                                Very long description here that may not fit into the page and may cause design problems
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-users text-red"></i>
                                5 new members joined
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-shopping-cart text-green"></i>
                                25 sales made
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-user text-red"></i>
                                You changed your username
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="footer">
                    <a href="">显示所有</a>
                </li>
            </ul>
        </li>
        <li class="dropdown tasks-menu" style="display: none;">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-flag-o"></i>
                <span class="label label-danger">9</span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <ul class="menu">
                        <li>
                            <a href="#">
                                <h3>
                                    Design some buttons
                                    <small class="pull-right">20%</small>
                                </h3>
                                <div class="progress xs">
                                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                        <span class="sr-only">20% Complete</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <h3>
                                    Create a nice theme
                                    <small class="pull-right">40%</small>
                                </h3>
                                <div class="progress xs">
                                    <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                        <span class="sr-only">40% Complete</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <h3>
                                    Some task I need to do
                                    <small class="pull-right">60%</small>
                                </h3>
                                <div class="progress xs">
                                    <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <h3>
                                    Make beautiful transitions
                                    <small class="pull-right">80%</small>
                                </h3>
                                <div class="progress xs">
                                    <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="footer">
                    <a href="">显示所有</a>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {% if not(app.user) or app.user.himg==''  %}
                <img src="{{ asset('img/user2-160x160.jpg')}}" class="user-image"/>
                {% else %}
                <img src="{{ asset(app.user.himg) }}" class="user-image"/>
                {% endif %}
                <span class="hidden-xs">{{ app.user.username }}</span>
            </a>
            <ul class="dropdown-menu">
                <li class="user-header">
                    {% if not(app.user) or app.user.himg==''  %}
                    <img src="{{ asset('img/user2-160x160.jpg')}}" class="img-circle"/>
                    {% else %}
                    <img src="{{ asset(app.user.himg) }}" class="img-circle"/>
                    {% endif %}
                    <p>
                        {{ app.user.username }}
                        <small>{{ app.user.regtime|date("Y-m-d H:i:s") }}</small>
                    </p>
                </li>
                <li class="user-body" style="display: none;">
                    <div class="row">
                        <div class="col-xs-4 text-center">
                            <a href="#">个人资料</a>
                        </div>
                        <div class="col-xs-4 text-center">
                            <a href="#">Sales</a>
                        </div>
                        <div class="col-xs-4 text-center">
                            <a href="#">Friends</a>
                        </div>
                    </div>
                </li>
                <li class="user-footer">
                    <div class="pull-left">
                        <a href="#" class="btn btn-default btn-flat">个人资料</a>
                    </div>
                    <div class="pull-right">
                        <a href="{{path('ad_logout')}}" class="btn btn-default btn-flat">退出</a>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>