{% extends 'public/user.html.twig' %}
{% block title %}{{ 'depot.statistics'|trans }}{{parent()}}{% endblock %}
{% set web = app.request.attributes.get('web') %}
{% block tcss %}
{{ parent() }}
<!-- <link href="{{ asset('plugins/morris/morris.css') }}" rel="stylesheet" /> -->
{% endblock %}
{% block contentheader %}
<section class="content-header">
  <h1>
    {{ 'depot.statistics'|trans }}
  </h1>
  <ol class="breadcrumb">
    <li><a href="{{path('siteindex',{'web':web})}}"><i class="fa fa-dashboard"></i>{{app.session.get('webinfo').title}}</a></li>
    <li class="active">{{ 'depot.statistics'|trans }}</li>
  </ol>
</section>
{% endblock %}
{% block content %}
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">统计</h3>
      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="box-body">
      <div class="chart">
        <canvas id="lineChart" style="height:250px"></canvas>
      </div>
    </div>
  </div>
{% endblock %}

{% block bjs %}
{{ parent() }}
<script src="{{ asset('plugins/chartjs/Chart.min.js') }}"></script>
<script type="text/javascript">
  $(function(){
    var areaChartData = {
      labels: ["January", "February", "March", "April", "May", "June", "July"],
      datasets: [
        {
          label: "Electronics",
          fillColor: "rgba(210, 214, 222, 1)",
          strokeColor: "rgba(210, 214, 222, 1)",
          pointColor: "rgba(210, 214, 222, 1)",
          pointStrokeColor: "#c1c7d1",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(220,220,220,1)",
          data: [65, 59, 80, 81, 56, 55, 40]
        },
        {
          label: "Digital Goods",
          fillColor: "rgba(60,141,188,0.9)",
          strokeColor: "rgba(60,141,188,0.8)",
          pointColor: "#3b8bba",
          pointStrokeColor: "rgba(60,141,188,1)",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(60,141,188,1)",
          data: [28, 48, 40, 19, 86, 27, 90]
        },
        {
          label: "Digital",
          fillColor: "rgba(32,86,100,0.9)",
          strokeColor: "rgba(32,86,100,0.8)",
          pointColor: "#328b2a",
          pointStrokeColor: "rgba(32,86,100,1)",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(32,86,100,1)",
          data: [38, 18, 20, 29, 36, 17, 20]
        }
      ]
    };

    var areaChartOptions = {
      showScale: true,
      scaleShowGridLines: false,
      scaleGridLineColor: "rgba(0,0,0,.05)",
      scaleGridLineWidth: 1,
      scaleShowHorizontalLines: true,
      scaleShowVerticalLines: true,
      bezierCurve: true,
      bezierCurveTension: 0.3,
      pointDot: false,
      pointDotRadius: 4,
      pointDotStrokeWidth: 1,
      pointHitDetectionRadius: 20,
      datasetStroke: true,
      datasetStrokeWidth: 2,
      datasetFill: true,
      legendTemplate: "",
      maintainAspectRatio: true,
      responsive: true
    };

    var lineChartCanvas = $("#lineChart").get(0).getContext("2d");
    var lineChart = new Chart(lineChartCanvas);
    var lineChartOptions = areaChartOptions;
    lineChartOptions.datasetFill = false;
    lineChart.Line(areaChartData, lineChartOptions);
  });
</script>
{% endblock %}